---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="404 Page Not Found"
	description="This page was not found. Please return to the home page."
	keywords=""
	canonicalURL="https://gtrump.io/404"
	robots="noindex, follow"
>
	<main class="">
		<section class="p-8 max-w-xl mx-auto">
			<script>
				window.location.href = '/';
			</script>
		</section>
	</main>
</Layout>

<style></style>
