---
import Section from './Section.astro';
---

<Section 
  id="Footer"
  title=""
  subtitle=""
  backgroundColor="bg-black"
  fullWidth={true}
>

    <section id="" class="bg-red-500 text-white w-full py-20">
      <div class="bg-white w-full">
a
      </div>

    </section>


</Section>