---
import Section from './Section.astro';
import { buynow } from '../utils/utils';
---

<Section 
  id="WhoIs"
  title=""
  subtitle=""
  backgroundColor="bg-black"
  backgroundImage="/testing.png"

>

    <section id="" class="flex items-center justify-center py-20">
      <div class="w-full flex justify-center items-center">
            <!-- Buy Now Button -->
          <a href={buynow} class="hover:scale-110 transition-transform duration-300 flex justify-center">
            <img src="/new-socials/buynow-silver.png" alt="Buy Now" class="w-full sm:w-6/12" />
          </a>

      </div>
    </section>


</Section>